<div class="w-52 h-[311px] rounded-md mb-6 shadow-md hover:scale-105 transition-all" (click)="openFolder()">
  <div class="py-6 w-full bg-slate-800 rounded-t-md">
    <div class="w-16 h-3 relative left-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <defs>
          <style>
            .cls-5 {
              fill: #dad7e5;
            }
            .cls-7 {
              fill: #5b9ad8;
            }
          </style>
        </defs>
        <g id="agenda_book" data-name="agenda book">
          <path
            d="M43 3v42a2 2 0 0 1-2 2h-4V1h4a2 2 0 0 1 2 2z"
            style="fill: #9fdbf3"
          />
          <path
            d="M43 3c0 43.26-.1 42 0 42a4 4 0 0 1-4-4V1h2a2 2 0 0 1 2 2z"
            style="fill: #b2e5fb"
          />
          <path
            d="M37 1v46H8a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"
            style="fill: #6fabe6"
          />
          <path d="M37 1v44H13a4 4 0 0 1-4-4V1z" style="fill: #82bcf4" />
          <path
            class="cls-5"
            d="M9 7H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 11H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 15H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 19H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 23H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 27H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 31H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 35H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 39H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 43H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM14 6h18v8H14z"
          />
          <path d="M32 6v6H22a6 6 0 0 1-6-6z" style="fill: #edebf2" />
          <path
            class="cls-7"
            d="M26 43H14a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2zM32 39H14a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2z"
          />
        </g>
      </svg>
    </div>
  </div>

  <div class="p-4">
    <div class="text-right text-gray-500 text-sm text-lg">date</div>
    <h4 class="font-bold text-2xl text-wrap">Title</h4>
    <p>description</p>
  </div>

  <i></i>
</div>
