  <!-- Options Menu Dropdown -->
  <div class="relative  float-right z-20 group my-5">
    <div
      class="w-8 h-8 flex flex-col items-center justify-center hover:bg-slate-200 rounded-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="4"
        fill="currentColor"
        class="text-slate-600"
      >
        <circle cx="9" cy="2" r="2" />
        <circle cx="2" cy="2" r="2" />
        <circle cx="16" cy="2" r="2" />
      </svg>
    </div>

    <!-- Dropdown Menu -->
    <div
      class="absolute right-0 mt-1 hidden group-hover:block rounded-md p-2 w-36 shadow-lg z-20 bg-white"
    >
      <ul>
        <li
          class="py-1.5 px-3 hover:bg-gray-100 cursor-pointer rounded text-sm"
          (click)="viewFolder($event)"
        >
          View
        </li>
        <li
          class="py-1.5 px-3 hover:bg-gray-100 cursor-pointer rounded text-sm"
          (click)="updateFolder($event)"
        >
          Rename
        </li>
        <li
          class="py-1.5 px-3 hover:bg-gray-100 cursor-pointer rounded text-red-500 text-sm"
          (click)="deleteFolder($event)"
        >
          Delete
        </li>
      </ul>
    </div>
  </div>

<div
  class="w-52 h-[250px] rounded-md mb-6 my-5 shadow-xl hover:scale-[1.02] transition-all cursor-pointer"
  (click)="viewFolder($event)"
>


  <!-- Header Section with Book Icon -->
  <div class="py-5 w-full bg-slate-800 rounded-t-md relative">
    <div class="w-14 h-3 relative left-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <defs>
          <style>
            .cls-5 {
              fill: #dad7e5;
            }
            .cls-7 {
              fill: #5b9ad8;
            }
          </style>
        </defs>
        <g id="agenda_book" data-name="agenda book">
          <path
            d="M43 3v42a2 2 0 0 1-2 2h-4V1h4a2 2 0 0 1 2 2z"
            style="fill: #9fdbf3"
          />
          <path
            d="M43 3c0 43.26-.1 42 0 42a4 4 0 0 1-4-4V1h2a2 2 0 0 1 2 2z"
            style="fill: #b2e5fb"
          />
          <path
            d="M37 1v46H8a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"
            style="fill: #6fabe6"
          />
          <path d="M37 1v44H13a4 4 0 0 1-4-4V1z" style="fill: #82bcf4" />
          <path
            class="cls-5"
            d="M9 7H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 11H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 15H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 19H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 23H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 27H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 31H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 35H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 39H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM9 43H5a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM14 6h18v8H14z"
          />
          <path d="M32 6v6H22a6 6 0 0 1-6-6z" style="fill: #edebf2" />
          <path
            class="cls-7"
            d="M26 43H14a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2zM32 39H14a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2z"
          />
        </g>
      </svg>
    </div>
  </div>

  <!-- Content Section -->
  <div class="p-4 h-full" (click)="viewFolder($event)">
    <div class="text-right text-gray-500 text-lg">date</div>
    <h4 class="font-bold text-2xl text-wrap">{{ folder?.folderName }}</h4>
    <p>{{ folder?.folderDescription }}</p>
  </div>
</div>
<div *ngIf="isVisible" class="transition-all">
  <app-accept-folder-details
    [folderId]="folder.folderId"
    [folder]="folder"
    (folderUpdated)="onFolderUpdated()"
    (closeModal)="onCloseModal()"
  ></app-accept-folder-details>
</div>