<div
  class="w-52 h-[250px] rounded-md mb-6 my-6 flex justify-center items-center flex-col gap-2 shadow-xl px-12  cursor-pointer hover:scale-[1.02] transition-all"
  (click)="createNewFolder()"
>
  <i>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      class="w-14 h-14"
    >
      <g data-name="57-Add">
        <path
          d="M16 0a16 16 0 1 0 16 16A16 16 0 0 0 16 0zm0 30a14 14 0 1 1 14-14 14 14 0 0 1-14 14z"
        />
        <path d="M17 15V6h-2v9H6v2h9v9h2v-9h9v-2h-9z" />
      </g>
    </svg>
  </i>

  <i class="text-xl">create new folder</i>
</div>
<div *ngIf="isVisible" class="transition-all">
  <app-accept-folder-details
    (folderCreated)="onFolderCreated()"
    (closeModal)="onCloseModal()"
  ></app-accept-folder-details>
</div>
