<div
*ngIf="isVisible"
class="fixed inset-0 z-10 w-full h-screen flex items-center justify-center bg-gray-800 bg-opacity-20 transition-opacity transition-all duration-300 ease-in-out"
[ngClass]="{ 'opacity-0': !isVisible, 'opacity-100': isVisible }"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-4/12">
    <div class="flex justify-between items-center border-b pb-4">
      <h1 class="text-2xl ">CREATE NEW FOLDER</h1>
      <div class="w-5 h-5 rotate-45 cursor-pointer" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128" xml:space="preserve"><path style="fill:#303030" d="M128 63.954c0 2.006-.797 3.821-2.136 5.127-1.308 1.337-3.125 2.133-5.166 2.133H71.302v49.356c0 4.012-3.284 7.292-7.302 7.292-2.009 0-3.827-.828-5.166-2.134-1.308-1.337-2.136-3.152-2.136-5.159V71.214H7.302c-4.05 0-7.302-3.248-7.302-7.26 0-2.006.797-3.853 2.136-5.159a7.279 7.279 0 0 1 5.166-2.134h49.395V7.306c0-4.012 3.284-7.26 7.302-7.26 2.009 0 3.827.828 5.166 2.133a7.238 7.238 0 0 1 2.136 5.127v49.356h49.395A7.276 7.276 0 0 1 128 63.954z"/></svg>
      </div>
    </div>
    <div class="mt-4">
      <form [formGroup]="createFolderForm" (ngSubmit)="createFolder()">
        <div class="my-5">
          <label for="name" class="font-semibold">NAME</label>
          <input
              type="text"
              id="name"
              class=" pl-3 pr-12 py-2 w-full border rounded-lg focus:outline-none"
              placeholder="Enter Folder name..."
              formControlName="folderName"
            />
        </div>
        <div class="my-5">
          <label for="description" class="font-semibold">DESCRIPTION</label>
          <input
              type="text"
              id="description"
              class=" pl-3 pr-12 py-2 w-full border rounded-lg focus:outline-none"
              placeholder="Enter Folder description..."
              formControlName="folderDescription"
            />
        </div>
        <div>
          <button
            class="bg-slate-800 w-full text-white px-4 py-2 rounded-md"
          >
            create
          </button>
        </div>
      </form>
  </div>
</div>
