<div class="h-screen flex items-center justify-center ">
    <!-- OTP Modal -->
    <div *ngIf="showOtpModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
        
      <div class="bg-white p-4 rounded-lg shadow-md">
        <app-otp 
          [email]="enteredEmail" 
          (otpVerified)="onOtpVerified()" 
          (close)="showOtpModal = false"
        ></app-otp>
      </div>
    </div>

    <!-- Password Input -->
    <div *ngIf="showInputPasswordModel"  class=" fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
      <div class="bg-white w-96 p-4 rounded-lg shadow-md">
        <app-password-input 
          [email]="enteredEmail"
          (passwordChanged)="onPasswordChanged()"
          (close)="showOtpModal = false"
        ></app-password-input>
      </div>
    </div>
  
    <!-- Forgot Password Form -->
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md" 
         [ngClass]="{ 'opacity-50 pointer-events-none': showOtpModal }">
      <h2 class="text-2xl font-bold mb-6 text-center">Forgot Password</h2>
  
      <!-- Error Message Display -->
      <div
        *ngIf="errorMessage"
        class="mb-4 p-2 bg-red-100 border border-red-400 text-red-700 rounded"
      >
        {{ errorMessage }}
      </div>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
          <input
            formControlName="email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            [ngClass]="{ 'border-red-500': submitted && f['email'].errors }"
            id="email"
            type="email"
            placeholder="Enter your email"
          />
          <div *ngIf="submitted && f['email'].errors" class="text-red-500 text-xs mt-1">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Please enter a valid email</div>
          </div>
        </div>
  
        <div class="flex items-center justify-between">
          <button
            [disabled]="loading"
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            [ngClass]="{ 'opacity-50 cursor-not-allowed': loading }"
            type="submit"
          >
            <span *ngIf="loading" class="animate-spin inline-block mr-2">⌛</span>
            {{ loading ? "Sending..." : "Send OTP" }}
          </button>
        </div>
        <div class="mt-2 text-center">
          <span routerLink="/home/login" class="text-blue-500 hover:underline cursor-pointer">
            Back to Login
          </span>
        </div>
      </form>
    </div>
  </div>
  